
h1 {color: rgb(8, 8, 50)}
h2 {color: white;}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    width: 100%;
    background-color: #919fb0;
    padding: 10px 20px;
    text-align: center;
}


.center_container {
    width: 85%;
    margin: auto;
    background-color: rgb(227, 224, 224);
}

.row{
    display: flex; 
    justify-content: space-between; 
}

.column{
    display: flex;
    flex: 1;
    justify-content: center;  
    align-items: center; 
    flex-direction: column;
    gap: 10px;
}
.column p {
    margin-left: 10px;
    margin-right: 10px;
}

.column_right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 10px;
}

.column_right img{
    height: 200px;
}

.column_red{
    flex: 1;
    display: flex;  
    flex-direction: column;
}

.red_top, 
.red_bottom{
    flex:1;
    background-color: red;
}

.yellow_background{
    
    background-color: yellow;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.yellow_background p {
    margin:0;
}
#spanish_flag{
    height: auto;
    width: 200px;
}


.social {
    display: inline-block;
    width: 100%; 
    border: 1px solid black; 
    text-align: center; 
    background-color: #919fb0;;
    font-weight: bolder;
    margin-top: 5px;
    color: white;
    padding: 10px;
    border-bottom: none;
}

.menu {
    display: flex; /* Mirar cómo va lo del display flex exactamente */
    justify-content: space-between;
    align-items: center;
    margin:auto;
}

.item{
    flex: 1;
    text-align: center;
    /* margin: 0 10px; */
    padding: 12px 0; /* Primer valor: arriba-abajo. Segundo: Izquierda-derecha */
    background-color: #919fb0;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.25s ease;
}

.item:hover {
    background-color: rgb(23, 62, 106);
    transform: translateY(-7px);

}

.item:active {
    transform: translateY(0px);
}

