
h1 {color: rgb(38, 41, 218)}
h2 {color: white;}
p{
    margin-bottom: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Barra superior */

.header {
    width: 100%;
    background-color: #131921;
    padding: 10px 20px;
}

/* Poner divs con border solo para visualizar */
div{
    border: 1px solid black;
}

/* Prueba distribución filas/columnas con display flex */

.row{
    display: flex; /* Mirar cómo va lo del display flex exactamente */
    justify-content: space-between;
    /* align-items: stretch; */ /* Por qué había puesto esto? */
}

.column{
    display: flex;
    flex: 1;
    justify-content: center;  /* Centra en el eje horizontal */
    align-items: center;  /*Centra en el eje vertical */
    flex-direction: column;
    gap: 10px;
}
.column p {
    margin-left: 10px;
    margin-right: 10px;
}

.column_right{
    display: flex;
    flex: 1;
    justify-content: center; /* Centra en el eje horizontal */
    align-items: center; /*Centra en el eje vertical */
    flex-direction: column;
    gap: 10px;
}

.column_right img{
    height: 200px;
}

.column_red{
    flex: 1;
    display: flex;  
    flex-direction: column;
}

.red_top, 
.red_bottom{
    flex:1;
    background-color: red;
}

.yellow_background{
    
    background-color: yellow;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.yellow_background p {
    margin:0;
}


/* Prueba Menú */

.menu {
    display: flex; /* Mirar cómo va lo del display flex exactamente */
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0px;

    /* max-width: 1000px;
    background-color: green; */
}

/* Botones */

.item{
    flex: 1;
    text-align: center;
    margin: 0 10px;
    padding: 12px 0; /* Primer valor: arriba-abajo. Segundo: Izquierda-derecha */
    background-color: #232f3e;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.25s ease;
}

.item:hover {
    background-color: red;
    transform: translateY(-7px);

}

.item:active {
    transform: translateY(0px);
}

